:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.bingobg {
  background-image: url("./assets/bingobg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bingobg2 {
  background-image: url("./assets/bingobg2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  outline: none;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.root {
  transition: none;
}

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}